<!DOCTYPE html>
<html>
  <head>
    <title>Travel Bot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="chat-body">
    </div>
    <form id="input-form">
      <input type="text" id="input-text" autocomplete=off>
      <button type="submit">Send</button>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/travelbot.js"></script>
  </body>
</html>
